body {
    background-color: #ffffff;
}

.ui-datepicker {
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin: 5px auto 0;
    font-family: 'Roboto', sans-serif;
}

.ui-datepicker {
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin: 5px auto 0;
    font-family: 'Roboto', sans-serif;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
  background-color: #ffffff;
  border: 10px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px 10px 0 0;
  line-height: 30px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev {
  display: inline-block;
  width: 60px;
  height: 30px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  border-radius: 10px 0 0 0;
  overflow: hidden;
}

.ui-datepicker-next {
  display: inline-block;
  width: 60px;
  height: 30px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  border-radius: 0 10px 0 0;
  overflow: hidden;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: #000000;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
    padding: 0;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: none;
}
.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
  /* font-weight: bold; */
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000000;
}
.ui-datepicker-calendar {
    background-color: #ffffff;
}



.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background-color: (255, 255, 255, 0.0);
    border: 2px solid #000000;
    color: #000000;
    position: relative;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}

table {
    border-color: #ffffff;
}
